@font-face {
  font-family: "Norse";
  src: url("./font/Norse-Bold.woff2") format("woff2"),
    url("./font/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(14 14 14);
  font-family: sans-serif;
}

.main {
  background: #efe;
  display: flex;
  height: 100vh;
  margin: 0 15%;
}

.logo {
  flex-basis: 500px;
  background: url(./img/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #efe;
  text-align: center;
}

.logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo .logo-title {
  margin-top: 210px;
  padding: 10px;
  background: rgb(14 14 14 / 50%);

  font-family: "Norse", sans-serif;
  font-size: 45px;
}

.logo-title img {
  width: 90px;
}

.logo-footer {
  font-size: 14px;
  margin-bottom: 10px;
}

.logo-footer a {
  color: #efe;
}

.content {
  flex-basis: 700px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content .promotion {
  font-weight: 700;
  font-size: 24px;
}

.sign-up-form {
  background: #fff;
  height: 30%;
  box-shadow: 7px 3px 3px 2px rgb(14 14 14 / 25%);
}
