@import "node_modules/modern-normalize/modern-normalize.css";

@font-face {
  font-family: "Norse";
  src: url("./font/Norse-Bold.woff2") format("woff2"),
    url("./font/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(14 14 14);
  font-family: sans-serif;
}

.main {
  background: #efe;
  display: flex;
  height: 100vh;
  margin: 0 15%;
}

.logo {
  flex-basis: 400px;
  flex-grow: 1;
  background: url(./img/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #efe;
  text-align: center;
}

.logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo .logo-title {
  margin-top: 210px;
  padding: 10px;
  background: rgb(14 14 14 / 50%);

  font-family: "Norse", sans-serif;
  font-size: 45px;
}

.logo-title img {
  width: 90px;
}

.logo-footer {
  font-size: 14px;
  margin-bottom: 10px;
}

.logo-footer a {
  color: #efe;
}

.content {
  flex-basis: 700px;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content > div {
  flex-grow: 1;
  flex-basis: 33%;
}

.content .promotion {
  font-weight: 700;
  font-size: 24px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.promotion p {
  padding: 0 40px 30px 40px;
}

.sign-up-form {
  background: #fff;
  box-shadow: 7px 3px 3px 2px rgb(14 14 14 / 25%);
  padding: 20px 40px 30px 40px;
}

.sign-up-form .input-form {
  margin-top: 40px;

  display: flex;
  flex-wrap: wrap;
}

.input-form p {
  margin-right: 50px;
  margin-bottom: 20px;
}

label {
  margin-bottom: 3px;
  display: block;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #353535;
}

input {
  width: 250px;
  height: 35px;
  padding: 0 5px;
  font-size: 18px;

  border: 1px solid #e5e7eb;
  border-radius: 5px;
}

input:focus {
  border-color: #00f;
  outline: none;
  box-shadow: 3px 3px 3px  #3535352f;
}

input:invalid {
  border-color: #f00;
}

.button-and-log-in {
  display: flex;
  flex-direction: column;

  padding: 30px 40px 30px 40px;
}

button {
  width: 230px;
  height: 40px;
  background: #596d48;
  border: none;
  border-radius: 5px;
  color: #efe;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 1px 1px 1px 1px #35353544;
  margin-bottom: 30px;
}

button:hover {
  background: #404e34;
  cursor: pointer;
  transition-duration: 0.2s;
}

.button-and-log-in p a {
  text-decoration: none;
  font-weight: 600;
  color: #596d48;
}
